@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar .nav-link {
        @apply flex items-center gap-2.5 px-5 py-2.5 text-sm font-medium leading-tight text-gray transition hover:text-black;
    }
    .nav-item.sub-menu-active {
        @apply bg-light-theme !text-primary;
    }
    .nav-item.active {
        @apply !text-black;
    }
    .sidebar .submenu > li > a {
        @apply flex rounded-lg px-2 py-1 font-medium text-gray-700 transition hover:bg-light-theme hover:text-primary;
    }
    .sidebar.closed {
        @apply w-[260px] lg:w-[60px];
    }
    .sidebar.closed h3 {
        @apply rounded-none;
    }
    .sidebar.closed h3 > span {
        @apply hidden;
    }
    .sidebar.closed h3 > svg {
        @apply block;
    }
    .sidebar.closed .submenu {
        @apply lg:hidden;
    }
    .sidebar .nav-link span {
        @apply whitespace-nowrap transition-all;
    }
    .sidebar.closed .nav-link span {
        @apply lg:invisible lg:w-0;
    }
    .sidebar.closed .sidemenu {
        @apply px-2.5 lg:px-0;
    }
    .sidebar.closed .upgrade-menu {
        @apply hidden;
    }
    .sidebar.open {
        @apply left-0;
    }
    #overlay.open {
        @apply block;
    }
    .loader {
        border: 2px solid #fff;
        border-top: 2px solid #000;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        animation: spin 0.6s linear infinite;
        margin: 0 auto;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    /* react-datepicker styling */
    .react-datepicker {
        @apply rounded-lg border border-gray-300 bg-white p-4 shadow-lg;
    }
    .react-datepicker__header {
        @apply border-b border-gray-300 bg-gray-100;
    }
    .react-datepicker__day {
        @apply text-gray-800 text-sm hover:bg-gray-200;
    }
    .react-datepicker__day--selected,
    .react-datepicker__day--keyboard-selected {
        @apply bg-blue-500 text-white;
    }
    .react-datepicker-popper {
        z-index: 50 !important;
    }
    .time-picker-popper {
        z-index: 50 !important;
    }
}
